.maincont{
    display: flex;
    margin-top: 5rem;
    border: 1px solid #DADCE0;
    width: 45rem;
    margin-left: 20rem;
    height: 30rem;
    box-shadow: 0px 0px 5px 0px grey;
}
.input{
    padding: 1rem;
    width: 20rem;
    margin: 0.5rem;
    border: none;
    /* outline: none; */
    border-radius: 5px;
    

}

.btn{
    padding: 0.6rem;
    width: 15rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.formcont{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin-left: 3rem;
}
@media screen and (max-width:1040px){
    .maincont{
        
        width: 44rem;
        margin-left: 5rem;
    }
}
@media screen and (max-width:800px){
    .maincont{
        width: 30rem;
        margin-left: 3rem;
        
    }
    .formcont{
        margin-left: 0rem;
    }
    .input{
        width: 10rem;
    }
    .btn{
        width: 15rem;
    }
}
@media screen and (max-width:532px){
    .maincont{
        width: 15rem;
        height: 15rem;
    }
    .formcont{
        margin-left: 0rem;
    }
    .input{
        width: 5rem;
    }
    .btn{
        width: 7rem;
    }
}